<footer class="page-footer font-small pt-4 bg-light mt-3">

    <!-- Elementos do Footer -->
    <div class="container">
        
        <div class="row justify-content-center my-2">
            <h4>XasTeste realizado por Leonardo Pigatto Bueno</h4>
        </div>
        <div class="row justify-content-center my-2 mb-4">
            <a href="https://github.com/leonardopigatto/XasTeste" target="_blank" class="btn btn-outline-dark rounded-pill">Veja no GitHub</a>
        </div>
  
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-dark py-3" style="color: white;">© 2020 Copyright: XasTree Financial Services</div>
  
</footer>