<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">XasTree</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="/">Home</a><h3 style="color: rgb(146, 146, 146);"> | </h3>
        <a class="nav-item nav-link" href="/listarClientes">Lista de Clientes</a><h3 style="color: rgb(146, 146, 146);"> | </h3>
        <a class="nav-item nav-link" href="/pesquisar">Pesquisa</a><h3 style="color: rgb(146, 146, 146);"> | </h3>
        <a class="nav-item nav-link" href="/controleClientes">Controle de Clientes</a><h3 style="color: rgb(146, 146, 146);"> | </h3>
        <a class="nav-item nav-link" href="/controleInvestimentos">Controle de Investimentos</a><h3 style="color: rgb(146, 146, 146);"> | </h3>
        </div>
    </div>
</nav>